$color_link_hover: #56ccf2;
$color_link: #2f80ed;
$color_black: black;
$color_white: white;
$color_default_text: #4f4f4f;
$color_disabled_text: #828282;
$color_borders: #bdbdbd;
$color_body_background: #d9d9d9;

$size_level1: 1.375rem;
$size_level2: 1.25rem;
$size_level3: 1.125rem;
$size_level4: 1rem;
$size_description: 0.875rem;
