.product_card {
  display: flex;
  background-color: $color_white;
  padding: 16px;
  margin: 16px 0;
}
.image {
  display: flex;
  padding: 8px;
  width: 224px;
  height: 168px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
}
.title_info {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  font-size: $size_level3;
  font-weight: bold;
}
.price {
  display: flex;
  flex: 1;
  font-weight: bold;
  margin-left: 5px;
}
.body_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_info {
  display: flex;
}
.info_in_border {
  margin: 0 8px 0 0;
  padding: 5px;
  background-color: $color_borders;
  color: $color_white;
}
.info_in_radius {
  margin: 5px auto 5px 0;
  padding: 5px;
  border: 1px solid $color_default_text;
  color: $color_white$color_default_text;
  border-radius: 10px;
}
