.text 0 Results Found
hr.line(width='100%')
.title_block
    .param Brands <span class="arrow"></span>
        .block
            input.input(type="checkbox" name="daf" value="daf")
            label(for="daf") DAF
        .block
            input.input(type="checkbox" name="scania" value="scania")
            label(for="scania") SCANIA
        .block
            input.input(type="checkbox" name="man" value="man")
            label(for="man") MAN
        .block
            input.input(type="checkbox" name="volvo" value="volvo")
            label(for="volvo") VOLVO
        .block
            input.input(type="checkbox" name="iveco" value="iveco")
            label(for="iveco") IVECO    
.title_block
    .param Axle configuration <span class="arrow"></span>
        .block
            input.input(type="radio" name="axle_configuration" )
            label(for="axle_configuration") 6 x 2
        .block
            input.input(type="radio" name="axle_configuration" )
            label(for="axle_configuration") 6 x 4
        .block
            input.input(type="radio" name="axle_configuration" )
            label(for="axle_configuration") 4 x 2
.title_block 
    .param Price <span class="arrow"></span>
        .block
            input.input_min_max(type="text" name="minprice" placeholder="min")
            input.input_min_max(type="text" name="maxprice" placeholder="max")
.title_block
    .param Type <span class="arrow"></span>
        .block
            input.input_keywords(type="text" name="" placeholder="Keywords")
        button.button SEARCH