.text 0 Results Found
hr.line(width='100%')
.title_block
    .param Brands <span class="arrow"></span>
        .block
            label
                input.input(type="checkbox" name="daf" value="daf")
                div DAF
        .block
            label
                input.input(type="checkbox" name="scania" value="scania")
                div SCANIA
        .block
            label
                input.input(type="checkbox" name="man" value="man")
                div MAN
        .block
            label
                input.input(type="checkbox" name="volvo" value="volvo") 
                div Volvo
        .block
            label
                input.input(type="checkbox" name="iveco" value="iveco")
                div IVECO    
.title_block
    .param Axle configuration <span class="arrow"></span>
        .block
            label
                input.input(type="radio" name="axle_configuration" )
                div 6 x 2
        .block
            label
                input.input(type="radio" name="axle_configuration" )
                div 6 x 4
        .block
            label
                input.input(type="radio" name="axle_configuration" )
                div 4 x 2
.title_block 
    .param Price <span class="arrow"></span>
        .block
            input.input_min_max(type="text" name="minprice" placeholder="min")
            input.input_min_max(type="text" name="maxprice" placeholder="max")
.title_block
    .param Type <span class="arrow"></span>
        .block
            input.input_keywords(type="text" name="" placeholder="Keywords")
        button.button SEARCH