.text 0 Results Found
hr.line(width='100%')
.title_block
 .param Param 1 
.block
   
   input.input(type="checkbox" name="value1" value="value1")
   label(for="value1") value 1
.block
    input.input(type="checkbox" name="value2" value="value2")
    label(for="value2") value 2
.block
    input.input(type="checkbox" name="value3" value="value3")
    label(for="value3") value 3
.block
    input.input(type="checkbox" name="value4" value="value4")
    label(for="value4") value 4
.block
    input.input(type="checkbox" name="value4" value="value5")
    label(for="value4") value 5    
.title_block
 .param Param 2
.block
    input.input(type="radio" name="param2" )
    label(for="value2_1") value 2_1
.block
    input.input(type="radio" name="param2" )
    label(for="value2_2") value 2_2
.block
    input.input(type="radio" name="param2" )
    label(for="value2_3") value 2_3
.title_block
 .param Param 3
.block
    input.input_min_max(type="text", name="" placeholder="min")
    input.input_min_max(type="text", name="" placeholder="max")
.title_block
  .param Param 4 
.block
  input.input_keywords(type="text", name="" placeholder="Keywords")
button.button SEARCH