.footer_wrapper 
 .contact_block
  .logo Logo/ Company Name
  .adress  Company Adress: Lorem ipsum 
           |dolor sit amet 
           |18600, Netherlands
  .contact +38 958 755-00-00
  .social 
   img.icon(src="./assets/social_icon_facebook.png")
   a(href="#") 
    img.icon(src="./assets/social_icon_twitter.png")
   a(href="#") 
    img.icon(src="./assets/social_icon_instagram.png")
   a(href="#") 
    img.icon(src="./assets/social_icon_youtube.png")
 .information_block
  .text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.
  