.navigation
  .buttons_block
    button.button_nav &#8592
    button.button_nav 1
    button.button_nav 2
    button.button_nav &#8594
  .search_block
    label.text(for="sort") Sort by 
    select#sort(name="Sort" width='207px')
      option.text_shadow(value="default" selected) Sort options
.main_information
  include ./card.pug
  each car in self.stock
    +card(car)
.navigation
  .buttons_block
    button.button_nav &#8592
    button.button_nav 1
    button.button_nav 2
    button.button_nav &#8594
  .search_block
    label.text(for="sort") Sort by 
    select#sort(name="Sort" width='207px')
      option.text_shadow(value="default" selected) Sort options
.text_block
  each text in self.page_text
    #{text.tag}.text_info=text.content
