.navigation
 .buttons_block
  button.button_nav <
  button.button_nav 1
  button.button_nav 2
  button.button_nav >
 .search_block
  label.text(for="sort") Sort by 
  select#sort(name="Sort", width='207px')
   option.text_shadow(value="default" selected) Sort options
   
.main_information 
  .product_card
    .image 
    .information 
      .title_info 

      
       .price
      .body_info 
      .footer_info
  .product_card
.navigation
 .buttons_block
  button.button_nav <
  button.button_nav 1
  button.button_nav 2
  button.button_nav >
 .search_block
  label.text(for="sort") Sort by 
  select#sort(name="Sort", width='207px')
   option.text_shadow(value="default" selected) Sort options
  
.text
 p.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis? Quis quo molestias repellat? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda et at eveniet! Fugiat velit unde necessitatibus? Debitis illo vero aut. Iusto dolores, cupiditate error expedita veniam laborum repudiandae aspernatur eos?
|<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, link provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis? Quis quo molestias repellat?
|<br>Iste, aliquid ducimus! Delectus in nisi quaerat temporibus blanditiis, molestias deleniti ea illum laudantium numquam. Laborum vero eligendi minus recusandae culpa sequi exercitationem iusto, ipsum sed suscipit fuga molestias veritatis!