.navigation
  .buttons_block
    button.button_nav <
    button.button_nav 1
    button.button_nav 2
    button.button_nav >
  .search_block
    label.text(for="sort") Sort by 
    select#sort(name="Sort" width='207px')
      option.text_shadow(value="default" selected) Sort options
.main_information
  -var i = info
  p=i
.navigation
  .buttons_block
    button.button_nav <
    button.button_nav 1
    button.button_nav 2
    button.button_nav >
  .search_block
    label.text(for="sort") Sort by 
    select#sort(name="Sort" width='207px')
      option.text_shadow(value="default" selected) Sort options
.text_block
